a:link {
    border: none;
    background-color: transparent;
    margin: 0px;
    font-size: 12px;
}

a:hover {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

input {
    border: 1px solid #4b4f54;
}

.dropdown-item {
    background-color: #F4F5F7;
    color: #82878F;
    padding: 4px 25px 4px 15px;
}

.dropdown-toggle {
    background-color: #292B2C !important;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    position: absolute;
    background-color: #F4F5F7;
    min-width: 40px;
}

.dropdown {
    float: left;
    margin-left: 10px;
}

img {
    width: 30px;
    height: 30;
    border: none;
    border-radius: 5px;
}

textarea {
    width: 80%;
    height: 100px;
    border: none;
    resize: none;
}

.modal {
    margin-top: 10%;
    background-color: rgba(16, 16, 16, 0.8);
}

.modal-body {
    margin: 0px;
    padding: 0px;
}

.modal-content {
    background-color: #E0E0E0;
}

.post {
    background-color: #00BFA5;
    color: #F5F5F5;
    font-size: 14px;
}

.modal-title {
    color: #9E9E9E;
}

.add-media {
    border: none;
    color: #BDBDBD;
    background-color: #E0E0E0;
    float: left;
}

.btn-modal {
    border: none;
    width: 40%;
    height: 150px;
    margin: 100px 0px 100px 0px;
    background-color: rgba(0, 191, 165, 0.5);
    color: #F5F5F5;
}

.dropdown-toggle {
    color: #9E9E9E;
}

.active {
    margin-bottom: 0px;
    border-bottom: 4px solid #1DE9B6;
}


/*for input filed in navbar*/

#input_container {
    position: relative;
    margin: 0 10px;
    width: 200px;
}

#input {
    height: 30px;
    padding-right: 20px;
    width: 100%;
    border-radius: 5px;
    z-index: 9;
    outline: none;
    text-indent: 3px;
}

#input_img {
    position: absolute;
    top: 4px;
    right: 6px;
    width: 25px;
    height: 25px;
}


/* for modal window close button*/

.modal-header .close {
    outline: none;
    float: right !important;
    margin-right: -50px !important;
    margin-top: -80px !important;
    background-color: transparent !important;
    border: 1px solid grey;
    border-radius: 15px !important;
    width: 25px !important;
    height: 25px !important;
    opacity: 1 !important;
}

.close {
    color: grey;
}