a:link {
    border: none;
    background-color: transparent;
    margin: 0px;
    padding-bottom: 15px;
    font-size: 12px;
}

a:hover {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.dropdown-item {
    background-color: #F5F5F5;
}

img {
    width: 30px;
    height: 30;
    border: none;
    border-radius: 5px;
}

.dropdown-toggle {
    color: #9E9E9E;
}

.active {
    margin-bottom: 0px;
    border-bottom: 4px solid #01CB99;
}

.profile {
    height: 85px;
    width: 85px;
    border: none;
    border-radius: 4px;
    margin: 80px 0px 30px 0px;
}

.nav-item {
    margin: 0px 25px 0px 25px;
}


/* .squaredTwo */

.squaredTwo {
    width: 28px;
    height: 28px;
    position: relative;
    margin-top: 6px;
    background: #01B286;
    border: none;
    border-radius: 4px;
}

.squaredTwo label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    left: 4px;
    top: 4px;
    background: #01B286;
}

.squaredTwo label:after {
    content: '';
    width: 15px;
    height: 7px;
    position: absolute;
    top: 6px;
    left: 5px;
    border: 3px solid #fcfff4;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.squaredTwo label:hover::after {
    opacity: 0.5;
}

.squaredTwo input[type=checkbox] {
    visibility: hidden;
}

.squaredTwo input[type=checkbox]:checked+label:after {
    opacity: 1;
}


/* end .squaredTwo */

#navbarLists {
    margin-bottom: -8px;
}