a:link {
    border: none;
    background-color: transparent;
    margin: 0px;
    padding-bottom: 15px;
    font-size: 12px;
}

a:hover {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

input {
    border: 1px solid #757575;
}

.dropdown-item {
    background-color: #F5F5F5;
}

img {
    width: 30px;
    height: 30;
    border: none;
    border-radius: 5px;
}

#textArea {
    width: 80%;
    border-radius: 3px;
    height: 90px;
    border: none;
    resize: none;
}

#btnTextArea {
    text-align: left;
    margin-left: 30px;
    margin-top: 20px;
    font-family: Arial, monospace, sans-serif;
    color: #99DCCB;
    font-size: 30px;
    font-weight: 200;
    border-left: 1px solid #FFFFFF;
    padding: 0px;
}

.modal-header .close {
    outline: none;
    float: right !important;
    margin-right: -40px !important;
    margin-top: -80px !important;
    background-color: transparent !important;
    border: 1px solid grey;
    border-radius: 15px !important;
    width: 22px !important;
    height: 22px !important;
    opacity: 1 !important;
}

.close {
    color: grey;
    text-shadow: none;
    font-weight: 100 !important;
    font-size: 20px !important;
}

.btn-cam,
.btn-video {
    border: none;
    margin-left: 35px;
    margin-top: 20px;
    background-color: transparent;
    color: #99DCCB;
    font-size: 14px;
}

.btn-modal {
    border: none;
    width: 42%;
    height: 160px;
    margin: 120px 0px 100px 0px;
    background-color: rgba(1, 178, 134, 0.7);
    color: #F5F5F5;
    padding: 0px;
    /*margin: 100px 0px 100px 0px;
    background-color: transparent;*/
    border: none;
    cursor: pointer;
    border-radius: 2px;
}

.modal {
    background-color: rgba(16, 16, 16, 0.9);
}

.modal-body {
    margin: 0px;
    padding: 0px;
}

.modal-content {
    background-color: #E0E0E0;
    width: 580px;
    margin-left: -50px;
    margin-top: 35%;
}

.post {
    background-color: #00BFA5;
    color: #F5F5F5;
    font-size: 14px;
}

.modal-title {
    color: #9E9E9E;
}

.add-media {
    border: none;
    color: #BDBDBD;
    background-color: #E0E0E0;
    float: left;
}

.dropdown-toggle {
    color: #9E9E9E;
}

.active {
    margin-bottom: 0px;
    border-bottom: 4px solid #01CB99;
}

.card {
    margin: 10px 0px 5px 0px;
}

.card-img-bottom {
    width: 100%;
    height: 30%;
    border-radius: 0px;
}

.card-footer {
    background-color: transparent;
    border: none;
}

#navbarLists {
    margin-bottom: -8px;
}