<my-navbar></my-navbar>
<div class="container-fluid" style="background-image: url(./assets/beach6.jpg);">
    <div class="row align-items-center justify-content-center">
        <!-- Button trigger modal -->
        <button type="button" class="btn-modal" data-toggle="modal" data-target="#modal">
            What's on your mind?
        </button>
        <!-- Modal -->
        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="border:none;">
                        <h5 class="modal-title" id="modalTitle">Create new message</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form novalidate [formGroup]="newUserDetails">
                            <div class="col-10">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input style="border:none;" type="text" class="form-control" formControlName="name" placeholder="Full name">
                                    </div>
                                </div>
                            </div>
                            <div class="col-10">
                                <div class="form-group">
                                    <div class="input-group">
                                        <textarea class="form-control" formControlName="extendedText" placeholder="What's on your mind?"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <button type="button" class="btn add-media">
                                        <i class="fa fa-camera" aria-hidden="true"></i> Add Photo
                                    </button>
                                </div>
                                <div class="col-3">
                                    <button type="button" class="btn add-media">
                                        <i class="fa fa-video-camera" aria-hidden="true"></i> Add Video
                                    </button>
                                </div>
                                <div class="col">
                                    <button type="submit" class="btn post" (click)="onSubmit(newUserDetails);" data-dismiss="modal">Post</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <nav class="navbar navbar-toggleable-md navbar-light" style="background-color:transparent;">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarLists" aria-controls="navbarLists" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarLists">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" style="color:#F5F5F5;font-size:12px;" routerLink='/' routerLinkActive='active'>ALL POSTS <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:#F5F5F5;font-size:12px;" routerLink='/photos' routerLinkActive='active'>PHOTOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:#F5F5F5;font-size:12px;" routerLink='/videos' routerLinkActive='active'>VIDEOS</a>
                    </li>
                </ul>
                <ul class=" navbar-nav my-2 my-lg-0">
                    <li class="nav-item mr-sm-2">
                        <a class="nav-link" style="color:#F5F5F5;font-size:12px;" routerLink='/listView' routerLinkActive='active'>
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="nav-item my-2 my-sm-0">
                        <a class="nav-link" style="color:#F5F5F5;font-size:12px;" routerLink='/gridView' routerLinkActive='active'>
                            <i class="fa fa-th-large" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center" *ngFor="let userDetail of userDetails" style="margin:20px;">
        <ng-container *ngIf="userDetail.text">
            <div class="col align-self-center offset-md-2">
                <div class="card" style="width:80%;height:auto;">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-1">
                                <img [src]=userDetail.profilePic alt="Profile" style="width:40px; height:40px;">
                            </div>
                            <div class="col-11">
                                <div class="card-title">
                                    <div class="row">
                                        <div class="col-3">
                                            <span style="font-size:20px;">{{userDetail.name}}</span>
                                        </div>
                                        <div class="col-8">
                                            <div class="row justify-content-end">
                                                <span class="text-muted text-right" style="text-align:right;">
                                                <i class="fa fa-reply" aria-hidden="true" style="margin:10px;"></i>
                                                <i class="fa fa-heart-o" aria-hidden="true" style="margin:10px;"></i> 2m
                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p class="card-text">{{userDetail.text}}</p>
                                <p class="card-text">{{userDetail.extendedText}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="userDetail.postPic[0]">
            <div class="col align-self-center offset-md-2">
                <div class="card" style="width:80%;height:auto;">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-1">
                                <img [src]=userDetail.profilePic alt="Profile" style="width:40px; height:40px;">
                            </div>
                            <div class="col-11">
                                <div class="card-title">
                                    <div class="row">
                                        <div class="col-3">
                                            <span style="font-size:20px;">{{userDetail.name}}</span>
                                        </div>
                                        <div class="col-8">
                                            <div class="row justify-content-end">
                                                <span class="text-muted text-right" style="text-align:right;">
                                                            <i class="fa fa-reply" aria-hidden="true" style="margin:10px;"></i>
                                                            <i class="fa fa-heart-o" aria-hidden="true" style="margin:10px;"></i> 2m
                                                        </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p class="card-text" style="color:#424242;">{{userDetail.imageCaption[0]}}</p>
                                <p class="card-text"><small class="text-muted">{{userDetail.postPic[0]}}</small></p>
                            </div>
                        </div>
                    </div>
                    <img class="card-img-bottom" [src]=userDetail.postPic[0] alt="Card image cap">
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="userDetail.videoUrl[0]">
            <div class="col align-self-center offset-md-2">
                <div class="card" style="width:80%;height:auto;">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-1">
                                <img [src]=userDetail.profilePic alt="Profile" style="width:40px; height:40px;">
                            </div>
                            <div class="col-11">
                                <div class="card-title">
                                    <div class="row">
                                        <div class="col-3">
                                            <span style="font-size:20px;">{{userDetail.name}}</span>
                                        </div>
                                        <div class="col-8">
                                            <div class="row justify-content-end">
                                                <span class="text-muted text-right" style="text-align:right;">
                                                                <i class="fa fa-reply" aria-hidden="true" style="margin:10px;"></i>
                                                                <i class="fa fa-heart-o" aria-hidden="true" style="margin:10px;"></i> 2m
                                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p class="card-text" style="color:#424242;">{{userDetail.videoCaption[0]}}</p>
                                <p class="card-text"><small class="text-muted">{{userDetail.videoUrl[0]}}</small></p>
                            </div>
                        </div>
                    </div>
                    <iframe style="width:100%; height:30%;" [src]="userDetail.videoUrl[0] | safe:'resourceUrl'" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </ng-container>
    </div>
</div>
<my-footer></my-footer>