<hr/>
<div class="container">
    <div class="row justify-content-center">
        <ul>
            <li style="margin-left: 5px;">
                <a href="#">ABOUT US</a>
            </li>
            <li style="margin-left: 5px;">
                <a href="#">SUPPORT</a>
            </li>
            <li style="margin-left: 5px;">
                <a href="#">PRIVACY</a>
            </li>
            <li style="margin-left: 5px;">
                <a href="#">TERMS</a>
            </li>
            <li style="font-weight: bold; color: #757575; margin-left: 8px;">
                &copy; 2014 SIMPLYSOCIAL
            </li>
        </ul>
    </div>
</div><br/><br/><br/><br/><br/><br/><br/>